@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-team-a: hsl(var(--team-a));
  --color-team-b: hsl(var(--team-b));
  --color-team-neutral: hsl(var(--team-neutral));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 85% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 239 84% 67%;
    --radius: 0.5rem;
    --team-a: 217 91% 60%;
    --team-b: 48 96% 53%;
    --team-neutral: 0 0% 53%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 85% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 239 84% 67%;
    --team-a: 217 91% 60%;
    --team-b: 48 96% 53%;
    --team-neutral: 0 0% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    background-color: #171717;
  }
}